{% extends 'accounts/forms_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Profile
{% endblock %}

{% block form_back %}
    <a href="{% url 'settings' %}"><img src="{% static 'img/circled-left-2.png' %}" width="50px" height="50px"></a>
{% endblock %}

{% block form_body %}
    <center><h1>Your Profile</h1></center>
    <form method="POST" action="{% url 'profile' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form|crispy }}
        <button type="submit" class="btn button">Edit</button>  
    </form>
{% endblock %}