{% extends 'rooms/forms_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Create Room
{% endblock %}

{% block form_back %}
    <a href="{% url 'rooms' %}"><img src="{% static 'img/circled-left-2.png' %}" width="50px" height="50px"></a>
{% endblock %}

{% block form_body %}
    <center><h1>Create New Room</h1></center>
    <form method="POST" action="{% url 'createroom' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form|crispy }}
        <button type="submit" class="btn button" style="margin-bottom: 50px;">Submit</button>  
    </form>
{% endblock %}