{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>In Meeting</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/meeting.css' %}" />
  </head>
  <body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Chatty</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <button id="btn-toggle-audio" class="btn btn-light">Audio Mute</button>
            <button id="btn-toggle-video" class="btn btn-light">Video Off</button>
            <button id="btn-join" class="btn btn-light">Join Meeting</button>
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item d-flex align-items-center m-2">
                {{user.email}}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- NAVBAR END -->

    <!-- MEETING AND CHAT -->
    <div class="container main-container">
      <div class="row height-inherit m-0">
        <div class="col-md-9 border sub-container height-inherit p-3">
          <div class="row d-flex justify-content-evenly gx-3 p-3" id="video-container">
            <div class="col-md-3 col-xs-5 bg-dark video-single"><video id="local-video" style="float: left" autoplay playsinline></video><h6 style="position: absolute">{{user.email}}</h6></div> 
            <!-- 9 -->
          </div>
          <!-- <div class="w-100 video-down p-3" style="visibility: hidden;">
            <div class="height-inherit d-flex flex-row-reverse">
              <div class="video-down-single bg-dark"></div>
              11
            </div>
          </div> -->
        </div>
        <div class="col-md-3 chat-container" id="chat" style="visibility: hidden;">
          <div
            class="
              p-3
              border
              sub-container
              h-100
              d-flex
              justify-content-between
              flex-column
            "
          >
            <div>
              <p class="text-center">Meeting Chat</p>
              <hr />
            </div>
            <div id="messages">
              <ul id="message-list"></ul>
            </div>
            <hr>
            <div class="" style="display: flex;">
              <hr />
              <input
                type="text"
                class="chat-input"
                placeholder="Chat here..."
                id="msg"
              /><button type="submit" class="btn btn-light" id="btn-send-msg" ><i class="material-icons">send</i></button>
              <!-- <button id="btn-send-msg">Send Message</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- MEETING AND CHAT END -->


    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script type="text/javascript">
      var code = "{{code}}";
      var user_email = "{{user.email}}";
    </script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/reconnecting-websocket.js' %}"></script>
    
  </body>
</html>
