
{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<title>Chatty</title>
		<meta name="description" content="#">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap core CSS -->
		<link href="{% static 'css/lib/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
		<!-- Swipe core CSS -->
		<link href="{% static 'css/swipe.min.css' %}" type="text/css" rel="stylesheet">
		<!-- Favicon -->
		<link href="{% static 'img/favicon.png' %}" type="image/png" rel="icon">
	</head>
	<body>
		{% if messages %}
			{% for message in messages %}
				<div class="text-center alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="margin-bottom:0px;">
					{{ message|safe }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{% endfor %}
		{% endif %}
		<main>
			<div class="layout">
				<!-- Start of Navigation -->
				<div class="navigation">
					<div class="container">
						<div class="inside">
							<div class="nav nav-tab menu">
								<button class="btn"><img class="avatar-xl" src="/media/{{user.profile.profile_pic}}" alt="avatar"></button>
								<a href="{% url 'createroom' %}" title="Create Room"><i class="material-icons">library_add</i></a>
								<a href="{% url 'rooms' %}" class="active" title="Rooms"><i class="material-icons">chat_bubble_outline</i></a>
								<a href="{% url 'joinroom' %}" class="f-grow1" title="Join Room"><i class="material-icons">person_add</i></a>
								<a href="{% url 'settings' %}" title="Setting"><i class="material-icons active">settings</i></a>
								<a href="{% url 'logout' %}" title="Logout"><button class="btn power"><i class="material-icons">power_settings_new</i></button></a>
							</div>
						</div>
					</div>
				</div>
				<!-- End of Navigation -->

				<!-- Start of Sidebar -->
				<div class="sidebar" id="sidebar">
					<div class="container">
						<div class="col-md-12">
							<div class="tab-content">
								<!-- Start of Settings -->
								<div class="tab-pane fade active show" id="settings">			
									<div class="settings">
										<div class="profile">
											<img class="avatar-xl" src="/media/{{user.profile.profile_pic}}" alt="avatar">
                                            {% if user.profile.name %}
											    <h1><a href="#">{{user.profile.name}}</a></h1>
                                            {% else %}
                                                <h1><a href="#"></a></h1>
                                            {% endif %}
                                            {% if user.profile.location %}
                                                <span>{{user.profile.location}}</span>
                                            {% else %}
                                                <span></span>
                                            {% endif %}
										</div>
										<div class="categories" id="accordionSettings">
											<h1>Settings</h1>
											<!-- Start of My Account -->
											<div class="category">
												<a href="{% url 'profile' %}" class="title collapsed" id="headingOne" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
													<i class="material-icons md-30 online">person_outline</i>
													<div class="data">
														<h5>My Account</h5>
														<p>Update your profile details</p>
													</div>
													<i class="material-icons">keyboard_arrow_right</i>
												</a>
											</div>
											<!-- End of My Account -->

											<!-- Start of Reset Password -->
											<div class="category">
												<a href="{% url 'password_change' %}" class="title collapsed" id="headingTwo" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
													<i class="material-icons md-30 online">sync</i>
													<div class="data">
														<h5>Reset Password</h5>
														<p>Change your account password</p>
													</div>
													<i class="material-icons">keyboard_arrow_right</i>
												</a>
											</div>
											<!-- End of Reset Password -->

											<!-- Start of Logout -->
											<div class="category">
												<a href="{% url 'logout' %}" class="title collapsed">
													<i class="material-icons md-30 online">power_settings_new</i>
													<div class="data">
														<h5>Power Off</h5>
														<p>Log out of your account</p>
													</div>
													<i class="material-icons">keyboard_arrow_right</i>
												</a>
											</div>
											<!-- End of Logout -->
										</div>
									</div>
								</div>
								<!-- End of Settings -->
							</div>
						</div>
					</div>
				</div>
				<!-- End of Sidebar -->

				<div class="main">
					<div class="tab-content" id="nav-tabContent">
						<!-- Start of Babble -->
						<div class="babble tab-pane fade active show" id="list-empty" role="tabpanel" aria-labelledby="list-empty-list">
							<!-- Start of Chat -->
							<div class="chat" id="chat2">
								<div class="content empty" style="height: 100vh;">
									<div class="container">
										<div class="col-md-12">
											<div class="no-messages">
												<i class="material-icons active">settings</i>
												<p>Change and personalize your profile.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- End of Chat -->
						</div>
						<!-- End of Babble -->
					</div>
				</div>
			</div> <!-- Layout -->
		</main>
		<!-- Bootstrap/Swipe core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}" ></script>
		<script>window.jQuery || document.write(`<script src="{% static 'js/vendor/jquery-slim.min.js' %}"><\/script>`)</script>
		<script src="{% static 'js/vendor/popper.min.js' %}"></script>
		<script src="{% static 'js/vendor/popper.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script>
			function scrollToBottom(el) { el.scrollTop = el.scrollHeight; }
			scrollToBottom(document.getElementById('content'));
		</script>
	</body>

</html>